{% extends "base.html" %}
{% from 'macros.html' import obj_summary %}
{% block content %}
<h1>Artifacts by type</h1>
{% for type, objs in objs_by_type %}
    <h2>Type: {{type}}</h2>
    <ul>
        {% for obj in objs %}
            <li>
                {{ obj_summary(obj, exclude=["type"]) }}
            </li>
        {% endfor %}
    </ul>
{% endfor %}

<h1>Executions by rule name</h1>
{% for name, executions in execs_by_name %}
    <h2>Name: {{name}}</h2>
    <ul>
        {% for execution in executions %}
            <li>
                <a href="exec_{{execution.id}}.html">Execution #{{ execution.id }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

{%endblock%}
