{% extends "base.html" %}
{% from 'macros.html' import obj_summary %}
{% from 'macros.html' import obj_table %}
{% block content %}
<h1>Artifacts by type</h1>
{% for type, objs in objs_by_type %}
    <h2>Type: {{type}}</h2>
    {{ obj_table(objs) }}
{% endfor %}

<h1>Executions by rule name</h1>
{% for name, summary in execs_by_name %}
    <h2>Name: {{name}} (size: {{ summary.disk_usage }} bytes)</h2>
    <ul>
        {% for execution in summary.execs %}
            <li>
                <a href="exec_{{execution.id}}.html">Execution #{{ execution.id }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

<h1>Rules by size</h1>
<table>
    <thead>
        <tr><th>Rule</th><th>Size</th></tr>
    </thead>

    <tbody>
{% for name, disk_usage in rules_with_size %}
        <tr><th>{{ name }}</th><th>{{ disk_usage }}</th></tr>
{% endfor %}
    </tbody>
</table>

{%endblock%}
